<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN CONTENT</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container">
      <!-- navbar section -->
      <div class="navbar">
        <img src="/public/asset/logo.png" alt="tidak ada gambar" />

        <!-- list -->
        <div class="navigation">
          <a href="/">HOME</a>
          <a href="/project">ADD PROJECT</a>
        </div>
        <!-- list -->
        {{if .Data.IsLogin}}
        <div class="status">
          <a href="#">HALLO , {{.Data.Username}}</a>
          <a href="/register">REGISTER</a>
        </div>
        {{else}}
        <div class="status">
          <a href="login">LOGIN</a>
          <a href="/register">REGISTER</a>
        </div>
        {{end}}

        <!-- button right contact -->
        <div class="contact-2">
          <a href="/contact" class="right">CONTACT</a>
        </div>
        <!-- button right contact -->
      </div>
      <!-- navbar section -->
      <div class="background1">
        <div class="container-2">
          <!-- left section -->
          <div class="kiri">
            <div class="declaration">
              <h2>welcome to my hut</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                molestias laboriosam non in ducimus animi provident placeat
                omnis eum expedita quidem nisi, facilis dignissimos fuga hic
                sint saepe soluta possimus deleniti? Et esse eligendi vel,
                aliquam corporis provident debitis possimus aspernatur quidem
                itaque perspiciatis nesciunt eum omnis sapiente explicabo harum
                quo! Quae ipsa rem ad maxime, in est exercitationem alias error
                explicabo illo sed cumque laborum libero nisi distinctio. Expld
                reprehenderit.
              </p>
            </div>

            <div class="innersec">
              <!-- button -->
              <div class="inner-button">
                <a href="/contact">CONTACT</a>
              </div>
              <!-- button -->
              <a class="cv-sec" href="#">download CV</a>
              <a href="#"
                ><img
                  class="download"
                  src="/public/asset/download.png"
                  alt="tidak ada gambar"
              /></a>
            </div>

            <div class="sosmed">
              <!-- <a href="#"><img class="img" src="/public/asset/linkedln.png" alt="none"></a> -->
              <a href="https://wa.me/683865716913"
                ><img class="img" src="/public/asset/wa.png" alt="none"
              /></a>
              <a href="https://github.com/intizam11"
                ><img class="img" src="/public/asset/github.png" alt="none"
              /></a>
            </div>
          </div>
          <!-- left section -->

          <!-- right section -->
          <div class="kanan">
            <div class="kanan-atas">
              <img src="/public/asset/yoru.jpg" alt="" />
            </div>
            <div class="kanan-bawah">
              <div class="nama">
                <h3>Intizam K A</h3>
                <p>FULLSTACK DEV "soon"</p>
              </div>
            </div>
          </div>
          <!-- right section -->
        </div>
      </div>
    </div>

   
    <div class="none">
        <h1>MY PROJECT</h1>
      </div>
  
    
    <div class="container6">
      {{range $index, $project := .Projects}}
      <div class="card">
        <div class="atas">
          <img src="/uploads/{{$project.Image}}" alt="" />
        </div>
        <div class="bawah">
          <h2>{{$project.Name}}</h2>
          <h4>{{$project.Dif}}</h4>
          <p>{{$project.Description}}</p>


          {{range $index, $image := $project.Technologies}}
          <div class="baru">
            <i class="fa-brands fa-{{$image}}"></i>
          </div>
          {{end}}           

        </div>
        <div class="button-down">
          <a href="/update/{{$project.Id}}">UPDATE</a>
          <a href="/delete/{{$project.Id}}">DELETE</a>
        </div>
      </div>
      {{end}}
    </div>
  </body>
</html>
